<div class="panel panel-default">
  <div class="col-sm-3 col-md-4 col-sm-offset-4 panel-default plumberboxsmall">
    <div class="clienth3">User Login</div>
    <hr class="no-margin-top">
    <div class="table-responsive">
      <form class="form-horizontal" ng-submit="loginVm.doLogin(data)" method="post">
        <div class="col-md-4">
          <label><i class=" fa fa-user pull-left" id="basic-addon1"></i>USERNAME</label><br/>
          <input ng-disabled="loginVm.lockCountDown" type="text" autofocus class="form-control" ng-required="true" ng-model="data.username" placeholder="Username" aria-describedby="basic-addon1">
        </div>
        <div class="col-md-4">
          <label><i class=" fa fa-lock pull-left" id="basic-addon1"></i>PASSWORD</label><br/>
          <input ng-disabled="loginVm.lockCountDown" type="password" class="form-control" ng-required="true" ng-model="data.password" placeholder="Password" aria-describedby="basic-addon2">
        </div>
        <div class="col-md-4">
          <button ng-if="!loginVm.lockCountDown" type="submit" class="btn btn-info btn-block pull-right" style="margin-top: 24px;">
            <i class="fa fa-sign-in"></i> LOGIN
          </button>
        </div>
      </form>
    </div>    
    <hr/>
    <p class="lockCountDown" ng-if="loginVm.lockCountDown">
      <strong>Multiple Access Denied</strong><br>
      <timer interval="1000" countdown="200" autostart="false"><i>Try again in {{countdown}}</i></timer>
    </p>
    <div>
      <span>
        <div class="alert alert-danger" ng-show="loginVm.errorMessage.length > 0" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:&nbsp;</span>
          <strong>{{loginVm.errorMessage}} </strong>
        </div>
        <div class="" style="text-align:center" ng-if="loginVm.loadingOn">
          <strong> <i class="fa fa-2x fa-spinner fa-spin"></i> Logging In......</strong>
        </div>
      </span>
    </div>
  </div>
</div>