<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Global Bake</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="" id="themes" aria-expanded="false">Themes <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="" ng-click="NavbarVm.switch('theme')" >Default</a></li>
                <li class="divider"></li>
                <li><a href="" ng-click="NavbarVm.switch('theme1')">Theme1</a></li>
                <li><a href="" ng-click="NavbarVm.switch('theme2')">Theme2</a></li>
              </ul>
            </li>
            <li>
              <a href="">Help</a>
            </li>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="" ui-sref="" >Orders</a></li>
            <li><a href="" ui-sref="">Contacts</a></li>
			<li><a href="" ui-sref="">History</a></li>
		    <li><a href="" ui-sref="">Notification</a></li>
			<li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="" id="user" aria-expanded="false">User <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="user">
                <li><a href="">Account Details</a></li>
                <li class="divider"></li>
                <li><a href="" ui-sref="">Settings</a></li>
                <li><a href="" ng-click="NavbarVM.logout()">Logout</a></li>
                <li class="divider"></li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </div>